@media (max-width:756px){
    #wrapper {
        background: #e9e9e9;
    }
    .page-product .container {
        padding-left: 15px;
    }
    .breadcrumb ol li a {
        padding: 0 3px;
        margin-left: 0;
        margin-right: 10px;
    }
    #wrapper .breadcrumb li:last-child {
        margin-left: 0;
        font-family: sans-serif;
    }
    .page-product .row.product-container.js-product-container>div:first-child {
        width: 100%;
        z-index: 99;
        padding-left: 0;
        padding-right: 0;
    }
    .page-product .row.product-container.js-product-container {
        /* padding-left: 15px;
        padding-right: 15px; */
    }
    .page-product .row.product-container.js-product-container>div:last-child {
        width: 100%;
        background-color: white;
        padding: 0;
        display: inline-block;
    }
    #product #content {
        max-width: 100%;
    }
    .page-product #main h1{
        font-size: 19px;
    }
    .page-product #main .product-prices.js-product-prices {
        justify-content: center;
    }
    .page-product .product-information .current-price-value {
        font-size: 26px;
        line-height: 28px;
    }
    .page-product .product-information .product-prices div{
        margin-bottom: 0;
    }
    .page-product .product-information .product-actions .control-label {
        display: block;
        width: 100%;
        margin-bottom: .375rem;
        text-align: center;
    }
    .page-product .product-information .product-variants>.product-variants-item select {
        margin: 0 auto;
    }
    .page-product .product-information .product-variants>.product-variants-item{
        margin-bottom: 10px;
    }
    .page-product .product-information .product-discounts {
        margin-bottom: 0;
    }
    .page-product #main .product-add-to-cart .product-quantity .qty {
        align-self: center;
        margin-right: 0;
    }
    .page-product .product-information .product-quantity #quantity_wanted {
        width: 4rem;
    }
    .page-product #main .product-add-to-cart .product-quantity .add .add-to-cart {
        margin: 0 auto;
    }
    .page-product #main .colonne-pictos-produit .row.vertical-align{
        display: flex;
        justify-content: center;
    }
    .page-product #main .colonne-pictos-produit .row.vertical-align .blocpicto{
        padding-right: 35px;
    }
    .produits-similaires.produits-similaires-container {
        margin-left: 0 !important;
        width: 100%;
    }
    .produits-similaires.produits-similaires-container .accessoire-block-tittle, .similare-products-container .similare-block-tittle {
        text-align: center;
    }
    .customized-product-addons-block {
        flex-direction: column-reverse !important;
    }
    .customized-product-addons-block div.block {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .customized-product-addons-block div.block .img-responsive{
        margin: 0 auto;
    }
}